<link rel="stylesheet" type="text/css" href="/stylesheets/weavings/weavings.css" />

<h1>What's New?</h1>
<% @weavings.each do |weaving| %>
	<% if weaving.published && !weaving.cart_id %>
		<div class="weavingCard" id="WeavingView_<%= weaving.id.to_s %>_weavingCard">
		    <table cellspacing="0" cellpadding="0" class="weavingPhotoContainer">
		        <tbody><tr><td style="padding: 0pt;">
		            <a href="/weavings/weaving?id=<%= weaving.id.to_s %>" id="weaving_<%= weaving.id.to_s %>_photo_link"><img style="border-width: 0px;" alt="photo" width="235px" height="176px" src="<%= weaving.weaving_photos[0] ? weaving.weaving_photos[0].attachment_link : 'broken' %>" id="weaving_<%= weaving.id.to_s %>_photo"></a>
		        </td></tr>
		    </tbody></table>
		    <div class="weavingSummaryContainer">
		        <a style="font-weight: bold;" class="dotted" id="weaving_<%= weaving.id.to_s %>_summary" href="/weavings/weaving?id=<%= weaving.id.to_s %>"><%= weaving.summary_description %></a>
		    </div>
			<span style='text-align: center;'>
			    <div class="weavingType" id="weaving_<%= weaving.id.to_s %>_type"><%= weaving.weaving_type.name %></div>
				<b><%= number_to_currency(weaving.selling_price) %></b>
				<% form_for weaving, :url => { :controller => "/store", :action => "add_to_cart" } do |f| %>
					<%= f.hidden_field :id %>
					<%= image_submit_tag '/images/weavings/add-to-cart.png' %>
				<% end %>
			</span>
		</div>
	<% end %>
<% end %>
