<h1>Cart</h1>
<% if @weavings_in_cart.empty? %>
	Your cart is empty
<% else %>
	Your Cart Currently Contains
	<ul>
		<% @weavings_in_cart.each do |weaving| %>
			<li>
				<%= number_to_currency(weaving.selling_price) %>.
				<a style="font-weight: bold;" class="dotted" id="weaving_<%= weaving.id.to_s %>_summary" href="/weavings/weaving?id=<%= weaving.id.to_s %>"><%= weaving.summary_description %></a>
				<a href="/weavings/weaving?id=<%= weaving.id.to_s %>" id="weaving_<%= weaving.id.to_s %>_photo_link"><img style="border-width: 0px;" alt="photo" width="47px" height="35px" src="<%= weaving.weaving_photos[0] ? weaving.weaving_photos[0].attachment_link : 'broken' %>" id="weaving_<%= weaving.id.to_s %>_photo"></a>
				<% form_for weaving, :url => { :controller => "/store", :action => "remove_from_cart" } do |f| %>
					<%= f.hidden_field :id %>
					<%= image_submit_tag '/images/weavings/remove-from-cart.png' %>
				<% end %>
			</li>
		<% end %>
	</ul>
	<p>Total: <% if(@cart) %> <%= number_to_currency @cart.total_price %> <% end %></p>
	<%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), '/orders/new/paypal_express' %>
	<br />or use<br />
	<div id='google_checkout_button'>
	    <form method="POST" action="<%= @post_url %>">
			<%= hidden_field_tag :cart, @cart_xml_b64 %>
			<%= hidden_field_tag :signature, @signature %>
			<%= image_submit_tag @img_src, @params %>
		</form>
	</div>
<% end %>
