<p><b>Item Number:</b> <%= @content_block.item_number %></p>
<p><b>Weaver:</b> <%= @content_block.weaver.name %></p>
<p><b>Weaving Type:</b> <%= @content_block.weaving_type.name %></p>
<p><b>Wool Type:</b> <%= @content_block.wool_type.name %></p>

<p><b>Purchase Price USD:</b> <%= @content_block.purchase_price_usd %></p>
<p><b>Purchase Price BOB:</b> <%= @content_block.purchase_price_bob %></p>
<p><b>Selling Price:</b> <%= @content_block.selling_price %></p>
<p><b>Description:</b> <%= @content_block.description %></p>